<header class="section header">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        {{ title }}
      </a>
    </div>
    <div class="navbar-burger" data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Define navbar items -->
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <fa-icon [icon]="faHome"></fa-icon>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <button class="button">
                <fa-icon class="icon" [icon]="faSignInAlt"></fa-icon><span>Sign In</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<main class="section">

</main>

<footer class="section footer">
  <nav class="level">
    <p class="level-item has-text-centered">Anass Lahnin</p>
    <p class="level-item has-text-centered">
      <a class="info" href="https://github.com/Serdok/Triple-T-frontend.git" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon> Source code
      </a>
    </p>
  </nav>
</footer>
